
body {
  background-color: #181818;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

button {
    background: #13a3bdb1;
    color: white;
    margin: 5%;
    margin-left: 27%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

/* table{
  border: none;
} */

td a{
    color: #5f9341;
}

  table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #fff;
  }
  
  td {
    padding: 10px;
    word-wrap: break-word;
    border-bottom: 1px solid #ccc;
    width: 400px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:nth-child(odd) {
    background-color: #969696;
  }