*{
  background-color: #1a1a1a;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

button {
    background: #13a3bdb1;
    color: white;
    margin: 5%;
    margin-left: 27%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

table{
  border: none;
}

td a{
    color: #5f9341;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    color: white;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #1a1a1a;;
  }
  
  tr:nth-child(even) {
    background-color: #1a1a1aa5;;
  }