*{
    background-color: #181818;
}
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #13a3bdb1;
    letter-spacing: 1px;
    font-weight: 600;
}


#wrapper{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
}

#page-banner{
    background:  #181818 ;
    padding: 10px 0;
    color:  #13a3bdb1;
}

#page-banner h1{
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding-right: 80%;
    font-size: 45px;
    font-weight: 1400;
}
#table-elements{
    margin-top: 10%;
    margin-left: 18%;
    padding-right: 10rem;
    font-size: 25px;
}

td{
    padding: 20px;
    padding-right: 20rem;
}


#emojis{
    align-items: center;
}
.name{
    color: #adabab;
}

#book-list li{
    float: right;
    padding-left: 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.delete{
    padding: 15px;
    border: 1px solid #ddd;
    margin: 20px 10px;
    border-radius: 2rem;
}



  