body {
    background-color: #181818;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
button {
    background: #13a3bdb1;
    color: white;
    margin: 5%;
    margin-left: 27%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}